*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

html,body{
    height: 100%;
    width: 100%;
}


main{
      height: 100%;
      width: 100%;
   


}

 main img{
    background-image: url(delicious-food.jpg);
    height: 100%;
    width: 100%;
    filter: blur(4px);
}

.nav{
   

   display: flex;
height: 150px;
width: 100%;

position: absolute;
transform: translate(20px 0px);
top: 20px;
left: 0px;


}

#nav-1{
    width: 50%;
    height: 100%;
    
      padding-left: 70px;
   padding-top: 40px;
   color: white;
     font-size: 25px;
     
}

#nav-1 i{
margin-left: 5px;
}

#nav-2{
     width: 50%;
    height: 100%;
    
   justify-content: end;
   display: flex;
   padding-right: 75px;
   padding-top: 40px;
   color: white;
   font-size: 25px;
}

#nav-2 i{
margin-left: 8px;
font-size: 28px;

}




.icons{
    display: flex;
    position: absolute;
justify-content: space-around;
flex-direction: column;
    padding: 20px 20px;
    transform: translate(10px,10px);
    top: 10px;
    left: 450px;
    color: white;

}




#head-1{
    height: 70px;
    width: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(0px,0px);
    top: 145px;
    right: 32px;
}


#head-1 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#h-1{

font-size: 17px;
position: absolute;
transform: translate(480px,170px);
font-weight: 600;
top: 13px;
color: white;

}




#head-2{
    height: 70px;
    width: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(0px,0px);
    top: 230px;
   left: 2px;
}

#head-2 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}


#h-2{

font-size: 17px;
position: absolute;
transform: translate(545px,260px);
font-weight: 600;
top: 13px;
color: white;

}


#head-3{
    height: 70px;
    width: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(0px,0px);
    top: 330px;
   left: 22px;
}


#head-3 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}


#h-3{

font-size: 17px;
position: absolute;
transform: translate(560px,360px);
font-weight: 600;
top: 13px;
color: white;

}



#head-4{
    height: 70px;
    width: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(0px,0px);
    top: 430px;
   left: 22px;
}


#head-4 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#h-4{

font-size: 17px;
position: absolute;
transform: translate(560px,460px);
font-weight: 600;
top: 13px;
color: white;

}


#head-5{
    height: 70px;
    width: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(0px,0px);
    top: 520px;
   left: 0px;
}

#head-5 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#h-5{

font-size: 17px;
position: absolute;
transform: translate(541px,550px);
font-weight: 600;
top: 13px;
color: white;

}


#head-6{
    height: 70px;
    width: 70px;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(0px,0px);
    top: 600px;
  right: 21px;
}



#head-6 i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}

#h-6{

font-size: 17px;
position: absolute;
transform: translate(486px,635px);
font-weight: 600;
top: 13px;
color: white;

}



















#intern{
    height: 410px;
    width: 410px;
    position: absolute;
    object-fit: cover;
    border-radius: 50%;
  transform: translate(20px 0px);
top: 220px;
left: 60px;
opacity: 0.6;


}

#internal-img h3{
    position: absolute;
    color: white;
     transform: translate(20px 0px);
top: 270px;
left: 215px;
font-size: 21px;
font-weight: 200;
}

#internal-img h2{
    position: absolute;
    color: white;
     transform: translate(20px 0px);
top: 307px;
left: 185px;
font-size: 27px;
font-weight: 700;
font-family: sans-serif;
}

.line-1{
     position: absolute;
   background-color: white;
     transform: translate(20px 0px);
top: 350px;
left: 135px;
height: 2px ;
width: 270px;
}

.line-2{
    position: absolute;
    color: white;
     transform: translate(20px 0px);
top: 400px;
left: 220px;
font-size: 19px;
font-weight: 300;
font-family: sans-serif;
line-height: 28px;
}

.line-3{
     position: absolute;
   background-color: white;
     transform: translate(20px 0px);
top: 500px;
left: 135px;
height: 2px ;
width: 270px;
}

.line-4 h1{
    position: absolute;
    color: white;
     transform: translate(20px 0px);
top: 520px;
left: 220px;
font-size: 60px;
font-weight: 400;
font-family: sans-serif;
}

.line-4 i{
    font-size: 16px;
  position: absolute;
 
  transform: translate(-9px,-3px);
}

.line-5 i{
    font-size: 47px;
  position: absolute;
 color: white;
  transform: translate(304px,0px);
  top: 528px;
  font-weight: 100;
  
}

.icons :hover{
    transform: scale(1.5);
}