*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

span{
 color: rgb(250, 169, 182);
    font-family: monospace;
    border-radius: 5px;
}
.main{
    height: 100%;
    width: 100%;
  
}

.nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 40px;
   position: absolute;
top: 4%;
right: 1%;


}


.nav h3{
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    padding: 10px 20px;
}

.intro{
    height: 45%;
    width: 100%;
    /* background-color: rgb(241, 206, 162); */
    padding: 30px;
}

.intro h1{
    font-size: 90px;
    line-height: 98px;
    font-weight: 700;
    letter-spacing: -1px;
}

.intro-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 17px;
}

.intro-bottom h3,h4{
    font-size: 24px;
}



#premium{
    height: 86%;
    width: 100%;
   object-fit: cover;
}

.about-1{
    height: 40%;
    width: 100%;
    
display: flex;
align-items: center;
justify-content: space-between;


}

.about-1 h2{
    font-size: 44px;
    width: 60%;
  
    line-height: 60px;
    padding: 20px 45px;
    letter-spacing: 0px;
}

.about-2 {
    height: 100%;
    width: 35%;
  margin-top: 20px;
    border-left: 2px solid  ;
    padding: 8px 27px;
font-weight: 700;
    display: flex;
flex-direction: column;
justify-content: space-between;


}

.about-2 h3{
    font-weight: 600;
    font-size: 20px;
    padding: 20px 12px;
    
}

.icons{
 margin-bottom: 30px;
 margin-left: 12px;
}

.icons i{
    font-size: 22px;
    background-color: black;
    color: white;
  padding: 5px;
  border-radius: 50px;
}

.icons a{
    text-decoration: none;
}

#middle{
    height: 45%;
    width: 100%;
  display: flex;
  border-top: 2px solid black;
  align-items: center;
  justify-content: space-between;

margin-top: 30px;
}

#mid-1{
    height: 100%;
   width: 35%;
   padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    
}

#mid-1 i{
    font-size: 30px;  
 margin-left: 185px;
}

#border{
    width: 2px;
    height: 100%;
    background-color: black;
} 

#work2{
    height: 100%;
   width: 65%;
  padding: 10px 10px;
}

.work2-part{
     
      display: flex;
      align-items: center;
      justify-content: space-between;
padding: 30px 0px;

}

.work2-part:nth-child(1){

border-bottom: 2px solid black;

}

.work2-part.elem{
    width: 50%;
    height: 100%;
}
.work2-part .elem:nth-child(1){
    border-right: 2px solid black;
   width: 50%;
}

.work2-part .elem:nth-child(2){
    padding-left: 10px;
}
.work2-part .elem h4{
    font-size: 26px;
}